:root {
  --purple: #dc56c5;
  --gray: #939393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
}

.header__nav {
  background-image: url("../src/img/pic.jpg");
}

.nav-div {
  padding-bottom: 192px;
}

.div__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #dc56c5;
  padding-bottom: 65px;
}

.div__input {
  
  background-color: #939393;
  background: var(--gray);
  padding: 14px 118px 14px 31px;
  border-radius: 20px;
}
