:root {
  --purple: #dc56c5;
  --gray: #939393;
  --whit: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* background-image: url("../src/img/svg/logo.svg");
  background-position: ;
  background-repeat: no-repeat;
  background-size: ; */
}

.header__nav {
  background-image: url("../src/img/pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-div {
  padding-top: 50px;
  padding-bottom: 192px;
  align-items: center;
}

.div__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #dc56c5;
  padding-bottom: 65px;
}

.div__input {
  background-color: var(--gray);
  background: rgb(255, 255, 255, 20%);
  padding: 14px 118px 14px 31px;
  border-radius: 30px;
}
